<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="content">
                    <div class="d-flex flex-column">
                        <h1 id="search-banner" class="align-self-center">Search!</h1>
                        <br>
                        <div class="input-group align-self-center w-500">
                            <input id="search-query" type="text" class="form-control" placeholder="Search term (eg. griffpatch)">
                            <select id="search-type" class="form-control flex-reset w-100">
                                <option value="user" selected="selected">User</option>
                                <option value="studio">Studio</option>
                                <option value="project">Project</option>
                                <option value="topic">Topic</option>
                                <option value="post">Post</option>
                            </select>
                            <div class="input-group-append">
                                <button id="search-go" class="btn btn-primary" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <h2 class="card-title">Search for anything <span
                            style="background: rgb(255,152,0); background: linear-gradient(90deg, rgba(255,152,0,1) 0%, rgba(255,193,7,1) 50%, rgba(255,235,59,1) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Scratch</span>
                    </h2>
                    Users, projects, studios, topics, and more! Access all data and statistics with the click of a button.
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <h2 class="card-title">Open-source <span
                            style="background: rgb(255,152,0); background: linear-gradient(90deg, rgba(255,152,0,1) 0%, rgba(255,193,7,1) 50%, rgba(255,235,59,1) 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;">API</span>
                        to access data</h2>
                    The API behind this site is open-source as well as the whole website itself! The code can be found
                    on <a href="https://github.com/Looky1173/Scratch-Tools">GitHub</a>.
                </div>
            </div>
        </div>
    </div>
    <!--SEARCH, <b>YAY</b>
    <a href="/search/forums" data-search-type="topic" data-search-data="12345" class="search-link">Forums</a>
    <a href="/search/users" data-search-type="user" data-search-data="SuperScratcher_1234" class="search-link">Users</a>
    <a href="/search/studios" data-search-type="studio" data-search-data="12345" class="search-link">Studios</a>
    <a href="/search/projects" data-search-type="project" data-search-data="12345" class="search-link">Projects</a>
    <a href="/search/projects" data-search-type="project" data-search-data="" class="search-link">Projects (no data)</a>-->
</div>