RewriteEngine On

# Redirect HTTP traffic to HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Unless directory, remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)/$ /$1 [L,R=301]

# Redirect external .php requests to extensionless url
#RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /([^\ ]+)\.php
#RewriteRule ^/?(.*)\.php$ /$1 [L,R=301]

# Resolve .php file for extension-less php urls
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/.]+)$ $1.php [L]

# Format user variable
RewriteRule ^search/?([0-9a-zA-Z_-]+)/?([0-9a-zA-Z_-]+)?$ search.php?type=$1&data=$2
RewriteRule ^api/statistics?$ api/statistics.php
RewriteRule ^api/statistics/?([0-9a-zA-Z_-]+)?/([0-9a-zA-Z_-]+)?$ api/statistics.php?type=$1&data=$2

# 404 error
ErrorDocument 404 /errors/404.php